/* Nunito font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    background:  #01563D;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #F3EB8B;
    font-size: 1.1rem;
    overflow: hidden;
}

header > img {
    max-width: 80px; 
    order: 1;
}

header > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    order: 2;
}

header > ul li {
    margin-right: 20px; /* Spacing between items */
}

#hero {
    justify-content: center;
    align-items: center;
    margin: auto; 
    width: 50%; 
    max-width: 1000px;
    /*
    display: flex; 
    flex-direction: column;
    */ 
    
}

.centeringContainter {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    flex-wrap: wrap;
}

.centeringContainter > p {
    color: #F3EB8B;
    text-align: center; 
    font-size: clamp(1rem, 2vw, 2rem);
    position: relative; 
    margin-top: 750px;
    width: 100%;
    /*
    animation: fadeIn linear both;
    animation-timeline: view(block);
    animation-range: cover 15% cover 30%;
    */
}

.left_svg {
    max-height: 60px;
    position: relative; 
    display: flex;
    left: 30%; 
}

.right_svg {
    max-height: 60px;
}

.victorianRadishes {
     /* Set the background image */
     /* Apply the blend mode to the background image */
    width: 100%;
    top: 50px; 
    mix-blend-mode: multiply;
    opacity: 0%; 
    z-index: 1;
}

.radialThing {
    /* Set the background image */
    /* Apply the blend mode to the background image */
    max-width: 100%;    
   opacity: 60%; 
   top: 0px;
   z-index: 2;
  
}

@keyframes fadeIn { 
    from { 
        opacity:0; 
    } 
    to { 
        opacity: 1; 
    } 
}
#farmFresh {
    max-width: 1100px;
    width: 85%; 
    height: auto; 
    top: 70px; 
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: 1s;
    margin: 0px 60px;
    z-index: 3;
}

.crate_graphic {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    opacity:0;  
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:.8s;
    animation-delay: .3s;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    z-index: 100; 
}

img {
    position: absolute; 
}

#crate {
    z-index: 7;
    max-width: 500px; 
    width: 100%;
    margin: 0 auto;  
    top: 350px;
    align-self: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.303);

}

.whyChooseUs {
    margin: 0px; 
    padding: 0px; 
    height: 1000px; 
    background-image: url("burlapTexture.png");
}

/* IMAGE STYLES */ 
#onion {
    z-index: 1;
    right: 50%;
    max-width: 40%;
}

#apricot {
    z-index: 2; 
    max-width: 30%;
    right: 20%; 
}

#lettuce {
    z-index: 3;
    max-width: 65%; 
    right: 40%;
}

#broccoli {
    z-index: 4;
    max-width: 60%;
    right: 0%;
}

#apple {
    z-index: 5;
    max-width: 35%;
    height: auto;
    right: 30%;  
}

#carrot {
    z-index: 6;
    max-width: 55%;
    transform: rotate(30deg);
    position: absolute;
    right: -10%;
     /* Adjust this value as needed */
    /* Vertically center the carrot relative to the crate */
}

/********** MIN WIDTH 550px *********/
@media (max-width: 550px) {
    
    #hero {
        min-height: 750px; 
    }
    
    #onion {
        top: 190px;
    }

    #apricot { 
        top: 190px; 
    }

    #lettuce {
        top: 240px;
    }

    #broccoli {
        top: 250px; 
    }

    #apple { 
        top: 290px; 
    }

    #carrot {
        top: 200px; /* Adjust this value as needed */
        /* Vertically center the carrot relative to the crate */
    }
    .crate_graphic {
        top: -50px; 
    }
}

/********** MIN-WIDTH: 550px *********/
@media (min-width: 550px) {
    #hero {
        min-height: 800px; 
    }
    
    #onion {
        top: 150px;
    }

    #apricot { 
        top: 140px; 
    }

    #lettuce {
        top: 220px;
    }

    #broccoli {
        top: 230px; 
    }

    #apple { 
        top: 270px; 
    }

    #carrot {
        top: 160px; /* Adjust this value as needed */
        /* Vertically center the carrot relative to the crate */
    }

    .crate_graphic {
        top: 0px; 
    }
}


/********** MAX WIDTH 860px *********/
@media (min-width: 650px) {

    #hero {
        min-height: 110vh; 
    }

    #onion {
        top: 110px;
    }

    #apricot {
        top: 120px; 
    }

    #lettuce {
        top: 200px;
    }

    #broccoli {
        top: 210px; 
    }

    #apple {  
        top: 250px; 
    }

    #carrot {
        top: 130px; /* Adjust this value as needed */
        /* Vertically center the carrot relative to the crate */
    }
    .crate_graphic {
        top: 40px; 
    }
}

/********** MIN WIDTH 860px *********/
@media (min-width: 860px) {
    #onion {
        top: 60px;
    }

    #apricot {
        top: 70px; 
    }

    #lettuce {
        top: 150px;
    }

    #broccoli {
        top: 190px; 
    }

    #apple { 
        top: 230px; 
    }

    #carrot {
        top: 80px; /* Adjust this value as needed */
        /* Vertically center the carrot relative to the crate */
    }

    .crate_graphic {
        top: 110px; 
    }
}

.whyChooseUs > h2, p{
    position: relative; 
    padding: 40px 70px 0px 70px;
}

.whyChooseUs > h2{
    padding-top: 50px;
    color:#01563D;
    font-family: 'berringer';
    font-size: 4rem;
    /*
    animation: fadeIn linear both;
    animation-timeline: view(block);
    animation-range: cover 15% cover 30%;
    */
}

.hidden {
    opacity: 0; 
    filter: blur(5px);
    transition: all 1s; 
    transition-delay: .75s;
    transform: translateY(20px);
}

.show {
    opacity: 1; 
    filter: blur(0px);
    transform: translateY(0px);
}