.whyChooseUs {
    margin: 0px; 
    padding: 0px; 
    background-image: url("burlapTexture.png");
    height: 800px; 
    position: relative; 
}

.whyChooseUs > h2, p{
    position: relative; 
    padding: 50px 70px 0px 70px;
}

.whyChooseUs > h2{
    padding-top: 60px;
    color:#01563D;
    font-family: 'berringer';
    font-size: clamp(2rem, 2vw, 4rem);
}

.card-containter {
    margin: 40px auto; 
    top: 170px; 
    display: grid;
    align-items: flex-start; 
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    max-width: 1300px;
    position: relative;
    z-index: 5;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center; 
    margin: auto; 
}

.tag {
    max-width: 300px;
    min-width: 100px;
    width: 100%; 
    padding: 0; 
    margin: 0;
}

/* Width of produce banner is handled with media queries */
img.produceBanner  {
    z-index: 0;
    width: 100%; 
    position: absolute; 
    bottom: 0; 
    overflow: hidden; 
}

/********** MIN WIDTH 550px *********/
@media (max-width: 550px) {
    .tag {
        max-width: 300px;
        min-width: 100px;
        width: 50%; 
    }
}

/********** MIN-WIDTH: 550px *********/
@media (min-width: 550px) {
    .tag {
        max-width: 300px;
        min-width: 100px;
        width: 50%; 
    }
}


/********** MAX WIDTH 860px *********/
@media (min-width: 650px) {
    .tag {
        max-width: 160px;
        min-width: 100px;
        width: 50%; 
    };

    .whyChooseUs {
        height: 500px; 
    }
}

/********** MIN WIDTH 860px *********/
@media (min-width: 860px) {
    .tag {
        max-width: 250px;
        min-width: 100px;
        width: 50%; 
    } 

    .whyChooseUs {
        height: 700px; 
    }

    img.produceBanner  {
        width: 100%; 
        bottom: -50px; 
    }
}