html, body {
    margin: 0;
    padding: 0;
}

#hero {
    background: radial-gradient(#3E7F4D, #01563D);
    margin: 0px; 
    height: 110vh; 
}

.centeringContainter {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

#victorianRadishes {
    background-image: url("victorianRadishes.png"); /* Set the background image */
    background-blend-mode: multiply; /* Apply the blend mode to the background image */
    width: 100%; 
}


@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
#farmFresh {
    max-width: 1000px; 
    top: 100px; 
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    margin: 0px 75px 0px 75px;
}

.wrapper {
    justify-content: center;
    align-items: center;
    margin: auto; 
    width: 50%; 
    max-width: 500px;
}
.crate_graphic {
    position: relative;
    max-width: 100%; /* Adjust this as needed */
    margin: 0 auto;
    top: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    top: 150px; 
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:.8s;
    animation-delay: .3s;
    max-width: 500px;
    max-width: 100%; /* Adjust this as needed */
    margin: 0 auto;
    align-items: center;
    justify-content: center
}

img {
    position: absolute; 
}

#onion {
    z-index: 1;
    top: 70px;
    right: 50%;
    max-width: 40%;
}

#apricot {
    z-index: 2; 
    max-width: 30%;
    right: 20%; 
    top: 70px; 
}

#lettuce {
    z-index: 3;
    max-width: 65%; 
    top: 160px;
    right: 40%;
}

#broccoli {
    z-index: 4;
    max-width: 60%;
    right: 0%;
    top: 190px; 
}

#apple {
    z-index: 5;
    max-width: 35%;
    height: auto;
    right: 30%;  
    top: 230px; 
}

#carrot {
    z-index: 6;
    max-width: 55%;
    transform: rotate(30deg);
    position: absolute;
    right: -15%;
    top: 50%; /* Adjust this value as needed */
     /* Vertically center the carrot relative to the crate */
}

#crate {
    z-index: 7;
    max-width: 500px; 
    width: 100%;
    margin: 0 auto;  
    top: 350px;
    align-self: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.303);

}

.empty {
    margin: 0px; 
    padding: 0px; 
    height: 1000px; 
    background-image: url("burlapTexture.png");
}

