/* Inter Semi Bold*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap');

body {
    background-image: url('jakob-owens-5F_c9i3JP0I-unsplash.jpg'); 
    background-color: rgb(109, 109, 109);
    background-size: cover;
    background-repeat: no-repeat;
}


nav > li{
    list-style-type: none;
    color: white; 
    display: inline; 
    padding: 15px; 
}

li > a {
    color: white; 
    text-decoration: none; 
    font-family: 'poppins';

}

.contact {
    background-color: transparent;
    color: white; 
    border-color: white; 
    border-style: solid; 
    font-size: 1rem;
    padding: 10px 15px 10px 15px; 
    border-radius: 20px; 
}

/* ARCHER */
.main {
    font-family: "helvetica", "sans-serif"; 
    font-style: semi-bold;
    font-size: 8rem;
    text-align: left; 
    letter-spacing: 1.5 rem;
    /* text tracking animation */
    animation-name: trackingExpansion;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 200ms; 
    animation-fill-mode: forwards; 
    color: rgba(255, 255, 255, 0);
    margin: 100px 0px 0px 30px; 
    padding: 0px; 
}

/* TRAVEL */
.lowerEffect {
    font-family: "helvetica", "sans-serif"; 
    font-style: semi-bold;
    font-size: 8rem;
    text-align: left; 
    letter-spacing: 1.5 rem;
    /* text tracking animation */
    animation-name: lowerTrackingExpansion;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 600ms; 
    animation-fill-mode: forwards; 
    color: transparent;  
    -webkit-text-stroke: 3px rgba(255, 255, 255, 0);
    margin: 0px 0px 0px 30px;
    padding: 0px; 
}

/* SERVICE */
.lowerEffect2 {
    font-family: "helvetica", "sans-serif"; 
    font-style: semi-bold;
    font-size: 8rem;
    text-align: left; 
    letter-spacing: 1.5 rem;
    /* text tracking animation */
    animation-name: lowerTrackingExpansion;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s; 
    animation-fill-mode: forwards; 
    color: transparent; 
    -webkit-text-stroke: 3px rgba(255, 255, 255, 0);
    margin: 0px 0px 0px 30px;
    padding: 0px; 
}


/* adjusts the tracking (or spacing) between letters) */ 
@keyframes trackingExpansion {
    0% {
        color:rgba(255, 255, 255, 0);
        letter-spacing:1.5 rem; 
    }
    40% {
        color: rgb(255, 255, 255); 
        letter-spacing: 1.5 rem; 
    }
    50% {
        color: rgb(255, 255, 255); 
        letter-spacing: 1.5 rem; 
    }
    100% {
        letter-spacing: 2rem;
        color: rgb(255, 253, 253); 
    }
}
/* adjusts the tracking (or spacing) between letters) */ 
@keyframes lowerTrackingExpansion {
    0% {
        color:transparent;
        -webkit-text-stroke: 3px rgba(255, 255, 255, 0);
        letter-spacing: 1.5 rem; 

    }
    40% {
        color:transparent;
        -webkit-text-stroke: 3px white;
        letter-spacing: 1.5 rem; 
    }
    50% {
        color:transparent;
        -webkit-text-stroke: 3px white;
        letter-spacing: 1.5 rem; 
    }
    100% {
        color:transparent;
        -webkit-text-stroke: 3px white;
        letter-spacing: 2rem;
        
    }
}

